body {
    margin: none;
    padding: 0;
    position: relative;
    background: rgb(2,0,36);
    font-size: 16px; 
}
  
.fixed-bg {
    background-image: url("img/star.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fixed-img {
    display: block;
    padding: 0;
    margin-top: none;
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat;
}
  
#profile-img {
    display: block;
    width: 25%;
    margin: auto;
    margin-top: -45%;
}
  
#profile-img img {
    border: 5px solid #00004c;
    border-radius: 50%;
}
  
h2 {
    color: #9dc09d;
    font-weight: 700;
    text-shadow: 2px 2px #000099;
}
  
.tagline {
    position: relative;
    color: #bfbfbf;
}
  
.navbar {
    top: 0;
    position: sticky;
    background: #00004c;
    box-shadow: 0 8px 8px -8px #bfbfbf;
}
  
.brand-img {
    display: inline-block;
    clip-path: circle(20px at 50% 50%);
    border-radius: 50%;
    overflow: hidden;
    top: 10px;
}
  
.brand-img:hover {
    transform: rotateY(180deg);
    /* DANCING WOLF */
}
  
.navbar-nav li {
    padding: .75rem .50rem;
}
  
h3 {
    text-align: center;
    color: #fff;
}
  
#auron {
    border-radius: 25%;
    border: solid 2px #00004c;
}



/* text-align: center;
  color: azure;
  text-shadow: 1px 1px 2px black;
  padding: 1em;
  margin: auto;
  background: radial-gradient(circle, rgba(4,4,4,0.9) 0%, rgba(28,111,3,0.1) 100%);
  box-shadow: 0 30px 40px rgba(0,0,0,0.3); */